.body {
    margin: 0px;
    padding: 0px;
} 

/* ------------LANDING PAGE-------------- */

#video1 {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.container {
    position: absolute;
    top: 60%;
    margin-left: 6%;
    text-align: center;
    background-color: rgba(151, 234, 243, 0.461);
    padding: 20px;
    border: 2px solid rgba(245, 213, 86, 0.632);
    border-radius: 10px;
}

.container h3 {
    font-family: 'Lobster', cursive;
    font-size: 4em;
}

.container p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
} 

#inputBox {
    background-color: white;
    width: 300px;
    display: flex;
    border: 3px solid rgb(50, 150, 193);
    border-radius: 10px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.form-group {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

.list-group li {
    display: flex;
    background-color: rgba(255, 255, 255, 0.516);
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.submitBtn {
    background-color:rgba(245, 213, 86, 0.632);
    border: 1px solid black;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
}

.submitBtn:hover {
    background-color: rgb(247, 218, 180);
}

/* ----------RESULTS PAGE----------- */

#video2 {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
} 

.results {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.weather {
    position: absolute;
    text-align: center;
    background-color: rgba(151, 234, 243, 0.461);
    padding: 20px;
    border: 2px solid rgba(245, 213, 86, 0.632);
    border-radius: 10px;
}

.currentWeatherCard {
    border: solid black 2px;
    border-radius: 10px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.516);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* display: none; */
}

.currentDate {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    align-items: center;
}

.forecastTitle {
    font-family:'Quicksand', sans-serif;
    font-size: 36px;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.forecastCard {
    border: solid black 2px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.516);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    padding-top: 0;
    margin-bottom: 50px;
}

.forecastCard p {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.forecastDay li {
    display: flex;
    background-color: rgba(255, 255, 255, 0.516);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 6px;
}

.card-deck {
    padding: 0px 40px 40px 40px;
}

/* ------------FOOTER--------------- */

/* .footer {
    position: bottom;
    margin-bottom: 0px;
    background-color: rgba(24, 24, 17, 0.66);
    padding: 30px;
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: white;
}  */